.filter-form
    $head-size = 94px
    $foot-size = 90px
    // $foot-size = 132px
    position relative
    background #fff

    &__head
        margin-bottom -1px
        position relative
        z-index 1
        display flex
        align-items center
        padding-left $add-gutter
        padding-right $add-gutter
        height $head-size
        line-height $head-size
        border-bottom: 1px solid $colors["light"]
        overflow hidden

    &__title
        flex 1 1 auto
        font-size 16px
        font-family $font-gamma
        letter-spacing 0.1em
        text-transform uppercase

    &__close
        margin-left auto
        position relative
        flex 0 0 auto
        background 0
        border 0
        padding 0
        font-size 0
        cursor pointer
        transition color .2s

        &::before
            content ""
            position absolute
            $outside = -16px;
            top $outside
            bottom $outside
            left $outside
            right $outside

        &:hover
            color $colors["brand"]

    &__foot
        position absolute
        bottom 0
        left 0
        right 0
        box-sizing border-box
        height $foot-size
        padding 20px $add-gutter
        text-align center
        background: $colors["light"]

    &__body
        position absolute
        top $head-size
        bottom $foot-size
        left 0
        right 0
        // -webkit-overflow-scrolling touch
        overflow auto

    +rmin($screens["medium"])
        &__head,
        &__foot
            display none

        &__body
            position: relative
            top auto
            bottom auto
            overflow visible

            &::after
                content ""
                display table
                clear both


// .filter-form
//     $mobile-state()
