.container
    margin-left: auto
    margin-right: auto
    max-width: $grid-settings["max-width"]
    padding-left: $grid-settings["gutter"]
    padding-right: $grid-settings["gutter"]

// .grid-row
//     margin-left: - $grid-settings["gutter"]
//     margin-right: - $grid-settings["gutter"]
//     font-size: 0

// .grid-cell
//     display: inline-block
//     vertical-align: top
//     box-sizing: border-box
//     padding-left: $grid-settings["gutter"]
//     padding-right: $grid-settings["gutter"]
//     font-size: 1rem
