.kv-list
    margin 0
    padding 0
    display table
    border-collapse collapse

    &__row
        display table-row

    &__key
    &__value
        margin 0
        display table-cell
        padding 7px 0 6px

    &__key
        padding-right 36px
        color #7a7a7a

    &__value
        color #313131
