extends /src/views/common/layout

block append defs
    -
        pageTitle = "Каталог";

block blockContent
    section.products-section
        .container
            .products-section__inner
                include partials/filter
                include partials/cards

block modals
    +modal({
        id: "product-view"
    })
        include partials/product-view
