.filter

    button.filter-toggle.filter__toggle(type="button")
        +icon("filter-toggle").filter-toggle__icon
        .filter-toggle__text Фильтр

    form.filter-form.filter__form(action="", method="GET")
        .filter-form__head
            .filter-form__title Фильтр
            button.filter-form__close.filter__close(type="button", title="Закрыть фильтр")
                +icon("close")

        .filter-form__body
            fieldset.fieldset
                legend.fieldset__head
                    .fieldset__title
                        +icon("sort").fieldset__icon
                        | Сортировать
                .fieldset__body
                    ul.control-list.fieldset__list
                        li.control-list__item
                            +control({ type: "radio", name: "sort-type", label: "По убыванию цен", checked: true })
                        li.control-list__item
                            +control({ type: "radio", name: "sort-type", label: "По возрастанию цены" })
                        li.control-list__item
                            +control({ type: "radio", name: "sort-type", label: "По наличию" })
                    .fieldset__foot
                        button.btn(type="submit") Применить

            fieldset.fieldset
                legend.fieldset__head
                    .fieldset__title Наличие
                .fieldset__body
                    ul.control-list.fieldset__list
                        li.control-list__item
                            +control({ type: "checkbox", name: "available-type", label: "В салоне", checked: true })
                        li.control-list__item
                            +control({ type: "checkbox", name: "savailable-type", label: "На заказ" })
                    .fieldset__foot
                        button.btn(type="submit") Применить

            fieldset.fieldset
                legend.fieldset__head
                    .fieldset__title Стиль
                .fieldset__body
                    ul.control-list.fieldset__list
                        li.control-list__item
                            +control({ type: "checkbox", name: "style", label: "Классический", checked: true })
                        li.control-list__item
                            +control({ type: "checkbox", name: "style", label: "Модерн" })
                        li.control-list__item
                            +control({ type: "checkbox", name: "style", label: "Арт-деко" })
                    .fieldset__foot
                        button.btn(type="submit") Применить

            fieldset.fieldset
                legend.fieldset__head
                    .fieldset__title Бренды
                .fieldset__body
                    ul.control-list.fieldset__list
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Fendi", checked: true })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Baxter" })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Minotti", checked: true })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Flexform", checked: true })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "B&B" })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Italia" })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Maxalto" })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Polifor" })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Fendi" })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Baxter" })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Minotti" })
                    .fieldset__foot
                        button.btn(type="submit") Применить

            fieldset.fieldset
                legend.fieldset__head
                    .fieldset__title Дизайнеры
                .fieldset__body
                    ul.control-list.fieldset__list
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Fendi", checked: true })
                        li.control-list__item
                            +control({ type: "checkbox", name: "brand", label: "Baxter" })
                    .fieldset__foot
                        button.btn(type="submit") Применить

        .filter-form__foot
            button(type="submit", class=[
                'btn',
                'btn_size_lg',
                'btn_width_full'
            ]) Применить
