//- .product-view
.card.card_full
    .card__media
        img.card__img(src="assets/img/uploads/product-full.jpg" , alt="")
    .card__desc
        .card__article ANG721LIP

        .card__desc-cells
            .card__desc-cell
                a.card__title
                    .card__title-text Кресло Minotti
                    +icon("arrow").card__title-arrow
                dl.kv-list.card__list
                    .kv-list__row
                        dt.kv-list__key Бренд
                        dt.kv-list__value Minotti
                    .kv-list__row
                        dt.kv-list__key Модель
                        dt.kv-list__value Minotti Mini 2016
                    .kv-list__row
                        dt.kv-list__key Дизайнер
                        dt.kv-list__value Rodolfo Dordoni
                    .kv-list__row
                        dt.kv-list__key Размеры
                        dt.kv-list__value 84 x 80 x 78/39 см

            .card__desc-cell
                .card__price.card__price_big
                    span.card__value 20 999
                    span.card__unit руб.
                a(class=[
                    'btn',
                    'btn_size_lg',
                    'btn_width_full',
                    'card__more'
                ])
                    span.btn__text Подробнее
                    +icon("arrow").btn__icon
