mixin debug(data)
    div(style={
        'white-space': 'pre-wrap',
        'font': 'normal normal 14px/1.3 Consolas, Menlo, Monaco, monospace',
        'background': '#fff',
        'color': '#000'
    }) !{JSON.stringify(data, null, 2)}
