:root
    font-size: $font["size"];
    font-family: $font-alpha;
    // text-rendering: optimizeLegibility;
    // font-smooth: always;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // -webkit-tap-highlight-color: transparent
